Shop/ClientShop/Connected Services/ServiceReference1/ServiceShop.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceShop" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceShop_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceShop_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_IsElements_InputMessage">
    <wsdl:part name="parameters" element="tns:IsElements" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_IsElements_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsElementsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_UpdateAllDate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAllDate" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_SaveData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveData" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_SaveDataImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDataImage" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetListData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListData" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetListData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetListChooseElem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListChooseElem" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetListChooseElem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListChooseElemResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetImageBytes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageBytes" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_GetImageBytes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageBytesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceShop_CallBackUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CallBackUpdate" />
  </wsdl:message>
  <wsdl:portType name="IServiceShop">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/Connect" message="tns:IServiceShop_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/ConnectResponse" message="tns:IServiceShop_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsElements">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/IsElements" message="tns:IServiceShop_IsElements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/IsElementsResponse" message="tns:IServiceShop_IsElements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAllDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/UpdateAllDate" message="tns:IServiceShop_UpdateAllDate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/SaveData" message="tns:IServiceShop_SaveData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/SaveDataImage" message="tns:IServiceShop_SaveDataImage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/GetListData" message="tns:IServiceShop_GetListData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/GetListDataResponse" message="tns:IServiceShop_GetListData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListChooseElem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/GetListChooseElem" message="tns:IServiceShop_GetListChooseElem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/GetListChooseElemResponse" message="tns:IServiceShop_GetListChooseElem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageBytes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceShop/GetImageBytes" message="tns:IServiceShop_GetImageBytes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/GetImageBytesResponse" message="tns:IServiceShop_GetImageBytes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallBackUpdate">
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceShop/CallBackUpdate" message="tns:IServiceShop_CallBackUpdate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServiceShop" type="tns:IServiceShop">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceShop_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsElements">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/IsElements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAllDate">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/UpdateAllDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveData">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/SaveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SaveDataImage">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/SaveDataImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetListData">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/GetListData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListChooseElem">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/GetListChooseElem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageBytes">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/GetImageBytes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallBackUpdate">
      <soap12:operation soapAction="http://tempuri.org/IServiceShop/CallBackUpdate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceShop">
    <wsdl:port name="NetTcpBinding_IServiceShop" binding="tns:NetTcpBinding_IServiceShop">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-OA63RKA\kuzan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>